
<nb-card>
    <form [formGroup]="updateGroup">
        <nb-card-header>Update Group</nb-card-header>
        <nb-card-body>
            <p>Please complete all the required fields</p>
            <br>
            
            <label>Select a group:</label>
            <nb-select  formControlName="GroupTypeID" placeholder="Select a Group">
                <nb-option *ngFor="let grouptype of grouptypes" [value]="grouptype.GroupTypeID">{{grouptype.GroupTypeName}}</nb-option>
            </nb-select>
            <br><br>
            
            <label style="margin-right: 30px;">Group Name:</label>
            <input type="text"  formControlName="Description" nbInput placeholder="Group Name"  style="margin-right: 150px;">
            <!--
            <label style="margin-right: 23px; ">Group Leader:</label>
            <nb-select placeholder="Select Leader" required>
                <nb-option value="">Ndlali</nb-option>
                <nb-option value="0">Individual</nb-option>
            </nb-select>
            -->
            <br><br>

            <label style="margin-right: 60px;">Address:</label>
            <input type="text"  formControlName="Address" nbInput placeholder="Address"  style="margin-right: 150px;">
            <label style="margin-right: 68px;">Suburb:</label>
            <nb-select   formControlName="SuburbID" placeholder="Suburb">
                <nb-option *ngFor="let s of suburbs" [value]="s.SuburbID">{{s.SuburbName}}</nb-option>
            </nb-select>
            <br><br>
            
            <label style="margin-right: 87px;">Size:</label>
            <input type="number"  formControlName="Size" nbInput placeholder="Members" ><input type="text" nbInput formControlName="OrgGroupID" hidden>
            <br><br>
            <button nbButton status="basic" routerLink="/Groups">Done</button>
        </nb-card-body>
    </form>
</nb-card>


