table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(odd){background-color: #252547}

th {
  background-color:#252547 ;
  color: white;
}

nb-accordion{
  box-shadow: none;
  nb-accordion-item{
  background-color: transparent;
  }

}

img{
  height: 200px;
  width: 200px;
  margin-left: 350px;
  margin-top: 10px;
  margin-bottom: 10px;
}

nb-progress-bar ~ nb-progress-bar {
  margin-top: 1rem;
  width: 50px;
}

.control-status-example {
  margin-top: 1rem;
}
