img.avatar {
    width: 25%;
    border-radius: 50%;
    align-content: center;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  input{
    margin:1em;
  }
  button{
margin:1em
  }